.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border: 0;
}

html, body{
  height: 100%; /* fills the whole viewport */
  margin: 0; /* remove default marging */
  cursor: none; /* hide default cursor */
}

.draggable-character {
  position: absolute; /* allows us to move it with left/top */
  left: 180px; /* starting position */
  top: 60px; 
  width: 48px; /* or whatever size */
  cursor: grab; /*optional: makes cursor look draggable */
  user-select: none; /* prevents text-selection cursor weirdness */
}