.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border: 0;
}

html, body{
  height: 100%; /* fills the whole viewport */
  margin: 0; /* remove default marging */
  cursor: none; /* hide default cursor */
}
